.slide-image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
    opacity: .6;
    height: 100%;
    display: inline-block;
    background: linear-gradient( #151515 0%, rgb(28 29 48) 100%);
}